@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: #ddd;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-image: url(../assets/images/bg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  cursor: default;
  transition: 0.1s ease;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 6px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.1s ease;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 5px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.topnav marquee {
  float: right;
  background-color: black;
  color: red;
  width: inherit;
  margin: 10px;
  padding: 4px 10px;
}

.topnav .logo {
  float: left;
  font-family: 'Righteous', cursive;
  background-color: red;
  color: white;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  margin-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-radius: 10px; */
  /* border: 1px solid #ddd; */
  transition: background-color 0.2s;
  transition: transform .2s;
  cursor: default;
  /* box-shadow: rgba(255, 0, 0, 1) 0px 48px 100px 0px; */
  box-shadow: rgba(255, 0, 0, 0.4) 0px 1px 2px 0px, rgba(255, 0, 0, 0.4) 0px 1px 3px 1px;
}

.topnav .logo:hover {
  background-color: #ddd;
  color: black;
  /* border: 1px solid black; */
  box-shadow: rgba(255, 0, 0, 1) 0px 1px 2px 0px, rgba(255, 0, 0, 1) 0px 1px 3px 1px;
  transform: scale(1.1);
}

.tabcontent {
  display: none;
  padding: 0px 0px;
  border-top: none;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 5px;
  background-color: #ddd;
  color: black;
}

.title {
  color: #111;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover {
  opacity: 0.7;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
}



/* Login */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ddd;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
}

/* Set a style for all buttons */
.modal button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  padding-top: 60px;
  color:black
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  width: 22%; /* Could be more or less, depending on screen size */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

h3,h4 {
  margin: 20px;
  text-align: center;
}








* {box-sizing: border-box}
body {margin:0}
.mySlides {display: none}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  transition: transform .2s;
  border-radius: 0 50px 50px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50px 0 0 50px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  border-bottom-right-radius: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1);
  color: red;
  transform: scale(1.4);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}




/* Image for tabs */

.tabImgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.tabImgContainer img {
  filter: grayscale(100%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 40px;
  background-color: rgba(255,0,0,0.5);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Staatliches', sans-serif;
}


#about0 {
  background-color: #0078c2;
  margin: 0;
  color: white;
  padding: 30px;
}


#about1 {
  background-color: #ddd;
  padding: 20px;
  color: black
}

#about2 {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.twoColList {
  columns: 2;
}






.icon {
  width: 100%;
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  color: red;
}

.img1 {
  border-radius: 10px;
  padding: 10px;
}